/* variables */
$sizeContainer: 1112px;

/* font color */
$textNav: #3C4858;
$textInteraction: #2F55D4;
$textPrimary: #8492A6;
$textTitle: #161C2D;
$textHover: #FFFFFF;
$iconbgHover : #F5F7FD;
$textInteractionSecondary: #3258D5;
$textInstallSecondary: #2ECA8B;
$textFooter: #ADB5BD;
$textFooterRequired: #E43F52;

/* button */
$btPrimary: #E4E9F8;
$btBrPrimary: #D1DAF6;
$btBrFooter: #23325F;
$btBgFooter: #222E51;
$btFooterTop: #2B48AA;

/* background */
$bgPrimary: #F8F9FC;
$bgIcon: #EAEEFB;
$bgInstall: #4F5A69;
$bgBest: #F17425;
$bgBestBottom: #D55B0E;
$bgFooter: #202942;
$bgFooterInput: #27314F;

/* border */
$brJumbo: #E9ECEF;
$brCard: #F4F5F6;
$brSubscriptions : #ADB5BD;
$brFooter: #283353;