/* variables */
$sizeContainer: 1112px;

/* font color */
$textNav: #3C4858;
$textInteraction: #2F55D4;
$textPrimary: #8492A6;
$textTitle: #161C2D;
$textHover: #FFFFFF;

/* button */
$btPrimary: #E4E9F8;
$btBrPrimary: #D1DAF6;

/* background */
$bgPrimary: #F8F9FC;